.desaturate {
	-webkit-filter: grayscale(75%);
	-moz-filter: grayscale(75%);
	filter: grayscale(75%);
}
.desaturate:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}